* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(238, 238, 238);
}

header {
  position: absolute;
  width: 375px;
  height: 44px;
  left: 1px;
  top: 1px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.logo {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: rgb(96, 112, 255);
  text-decoration: none;
  margin-left: 10px;
}

#menu {
  color: rgb(96, 112, 255);
  font-size: 18px;
  line-height: 20px;
  margin-right: 15px;
}

.headline {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./img/pro.png");
  background-size: cover;
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  padding-bottom: 110px;
  border-bottom-left-radius: 100px;
}

.text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin: 1px 24px;
}

.primary-text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 10px;
  color: rgb(80, 95, 121);
}

.details {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(80, 95, 121);
}

.connect {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgb(96, 112, 255);
  padding: 5px 10px;
  display: flex;
  align-self: flex-start;
  border-radius: 5px;
  text-decoration: none;
}

.fa-container {
  display: flex;
  align-self: flex-start;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.fa {
  padding-right: 20px;
  align-self: flex-start;
  color: rgb(80, 95, 121);
  font-size: 16px;
}

.works-section {
  margin-top: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 4;
  grid-column-gap: 10px;
  grid-row-gap: 88px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 552px;
  width: 327px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.card-img {
  margin-top: 20px;
}

.details-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

.main-title {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: rgb(80, 95, 121);
  align-self: flex-start;
  margin-left: 14px;
  margin-right: 22px;
  margin-top: 15px;
}

.details-container ul {
  margin-left: 16px;
}

.main-item {
  display: inline;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-right: 10px;
  text-transform: uppercase;
}

.sub-item {
  display: inline;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-right: 10px;
}

.card-text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 1px 14px;
}

.tech-used {
  list-style: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgb(96, 112, 255);
}

.tech-used li {
  display: inline;
  background-color: rgb(235, 235, 255);
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  letter-spacing: 0.03em;
}

.see-project {
  text-decoration: none;
  padding: 10px 20px;
  border: solid 1px rgb(96, 112, 255);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  margin-left: 14px;
  color: rgb(96, 112, 255);
}

.about-myself {
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  height: 800px;
  border-top-right-radius: 100px;
}

.primary-text-about {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 10px;
  color: rgb(80, 95, 121);
  align-self: flex-start;
  margin-right: 100px;
}

.fa-container-about {
  display: flex;
  align-self: flex-start;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-left: 5px;
}

.see-project-about {
  text-decoration: none;
  padding: 10px 20px;
  border: solid 1px rgb(96, 112, 255);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  margin-left: 35px;
  color: rgb(96, 112, 255);
}

.details-2 {
  width: 327px;
  margin: 050px auto;
}

.details-2 ul li {
  list-style: none;
}

.details-2-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-2-title {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 10px;
}
